<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/semantic.min.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/grid.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/icon.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/button.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/form.css' />
		<script type='text/javascript' src='js/slide.js'></script>
	<script type='text/javascript' src='js/jquery-3.3.1.min.js'></script>
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/modal.css' />
	<script type='text/javascript' src='Semantic-UI-master/dist/components/modal.js'></script>
	<script type='text/javascript' src='Semantic-UI-master/dist/components/form.js'></script>	
	<script type='text/javascript' src='Semantic-UI-master/dist/semantic.js'></script>
	<style>
	h1,h2,h3,h4,h5,h6,a,p,label{
	 font-family:Apple Chancery, cursive ;
	 }
	</style>
	<title>Yangtze</title>
</h:head>
<h:body> 
<!-- Menu -->
<div class="ui blue message stackable menu"> 
  <a class="header item" href='faces/login.xhtml'>Yangtze</a>
  <a class="item"> Modifique seu site, exclua conteudos, adicione e etc</a>
</div>

<div class="ui three column stackable grid container">
  <div class="column">
  <div class="ui segment">
	  <div class="content">
	    <h3 class="header">Home</h3>
	    <div class="meta">
	      <p>texto, slide, texto</p>
	    </div>
	    <div class="description">
	          <h:form class="ui large form">
	        <div class="field">
	          <div class="ui left icon input">
	            <h:inputTextarea value="#{homeBean.textoDireito}"/>
	          </div>
	        </div>
	           <div class="field">
	          <div class="ui left icon input">
	            <h:inputTextarea value="#{homeBean.textoEsquerdo}"/>
	          </div>
	        </div>
	        <div class="field">
	          <div class="ui left icon input">
	            <h3>area da img</h3>
	          </div>
	        	<h:commandButton value="adicionar" class="ui teal submit button" action="#{homeBean.enviar}" />
	          	<h:commandButton value="editar" class="ui teal submit button" action="#{homeBean.editar}" />     	
	          	<h:commandButton value="excluir" class="ui teal submit button" action="#{homeBean.excluir}" />     
	 	        </div>
	          </h:form>
	    </div>
  		</div>
		</div>
  </div>
    <div class="column">
     <div class="ui segment">
	  <div class="content">
	    <h3 class="header">Curiosidades</h3>
	    <div class="meta">
	      <p>Imagens e texto</p>
	    </div>
	    <div class="description">
	          <h:form class="ui large form">
	        <div class="field">
	          <div class="ui left icon input">
	            <h:inputTextarea value="Texto"/>
	          </div>
	        </div>
	        <div class="field">
	          <div class="ui left icon input">
	            <h3>area da img</h3>
	          </div>
  	        	<h:commandButton value="adicionar" class="ui teal submit button" action="#" />
	        	<h:commandButton value="Excluir e Editar" class="ui teal submit button" action="#" />
	        </div>
	          </h:form>
  		</div>
		</div>
		</div>
  </div>
    <div class="column">
      <div class="ui segment">    
	  <div class="content">
	    <h3 class="header">Especies</h3>
	    <div class="meta">
	      <p>Imagens, texto, especie</p>
	    </div>
	    <div class="description">
	          <h:form class="ui large form">
	        <div class="field">
	          <div class="ui left icon input">
	            <h:inputText value="Nome da especie"/>
	          </div>
	        </div>
	           <div class="field">
	          <div class="ui left icon input">
	            <h:inputTextarea value="texto"/>
	          </div>
	        </div>
	        <div class="field">
	          <div class="ui left icon input">
	            <h3>area da img</h3>
	          </div>
	       		<h:commandButton value="adicionar" class="ui teal submit button" action="#" />
	        	<h:commandButton value="Excluir e Editar" class="ui teal submit button" action="#" />
	  	        </div>
	          </h:form>
	    </div>
  		</div>
		</div>
</div>
</div>
<h:dataTable value="#{homeBean.lista}" var="home" border="1">
<h:column><f:facet name="header">Id</f:facet>#{home.id}</h:column>
<h:column><f:facet name="header">textoDireito</f:facet>#{home.textoDireito}</h:column>
<h:column><f:facet name="header">textoEsquerdo</f:facet>#{home.textoEsquerdo}</h:column>
</h:dataTable>
<h:panelGrid>
<ui:repeat var="home" value="#{homeBean.lista}">
<h3 class="header">#{home.id}---#{home.textoDireito}>>>#{home.textoEsquerdo}</h3>
</ui:repeat>
</h:panelGrid>
  </h:body>

</html>