<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/semantic.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/grid.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/icon.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/button.css' />
	<script type='text/javascript' src='js/slide.js'></script>
	<script type='text/javascript' src='js/jquery-3.3.1.min.js'></script>
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/modal.css' />
	<script type='text/javascript' src='Semantic-UI-master/dist/components/modal.js'></script>
	<script type='text/javascript' src='Semantic-UI-master/dist/semantic.js'></script>
	<style>
	h1,h2,h3,h4,h5,h6,a,p{
	 	font-family:Apple Chancery, cursive;
	}
	.teste{
 		word-wrap: break-word;	
 	}
	</style>
	<title>Yangtze</title>
</h:head>
<h:body>
<!-- Menu -->
<div class="ui blue message stackable menu">
  <a class="header item" href='faces/login.xhtml'>Yangtze</a>
<a class="item " href='#Home'>Home</a>
  <a class="item" href='#Curiosidades'>Curiosidades</a>
  <a class="item" href='#Especies'>Especies</a>
</div>
<div class="ui internally celled stackable grid" id="Home">
  <div class="row">
	    <div class="three wide column teste">
<ui:repeat var="home" value="#{homeBean.lista}" >
<h:outputText rendered="#{home.textoDireito != null}" value="#{home.textoDireito}" /><br/>
</ui:repeat>
    </div>
    <div class="ten wide column">
      
  <div id='jssor_1' style='margin:0 auto;top:0px;left:0px;width:1000px;height:500px;overflow:hidden;visibility:hidden;'>
  <!-- Loading Screen -->
  <div data-u='loading' class='jssorl-009-spin' style='top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);'>
  </div>
  <div data-u='slides' style='cursor:default;position:relative;top:0px;left:0px;width:1000px;height:500px;overflow:hidden;'>
  <div>
  <img data-u='image' src='img/marinha.jpg' />
  </div>
  <div>
  <img data-u='image' src='img/tart.jpg' />
  </div>
  <div>
  <img data-u='image' src='img/tartamarinha.jpeg' />
  </div>
    <div>
  <img data-u='image' src='img/tarta.jpg' />
  </div>
  </div>
  <!-- Bullet Navigator -->
  <div data-u='navigator' class='jssorb032' style='position:absolute;bottom:12px;right:12px;' data-autocenter='1' data-scale='0.5' data-scale-bottom='0.75'>
  <div data-u='prototype' class='i' style='width:16px;height:16px;'>
  <svg viewbox='0 0 16000 16000' style='position:absolute;top:0;left:0;width:100%;height:100%;'>
  <circle class='b' cx='8000' cy='8000' r='5800'></circle>
  </svg>
  </div>
  </div>
  <!-- Arrow Navigator -->
  <div data-u='arrowleft' class='jssora051' style='width:65px;height:65px;top:0px;left:25px;' data-autocenter='2' data-scale='0.75' data-scale-left='0.75'>
  <svg viewbox='0 0 16000 16000' style='position:absolute;top:0;left:0;width:100%;height:100%;'>
  </svg>
  </div>
  <div data-u='arrowright' class='jssora051' style='width:65px;height:65px;top:0px;right:25px;' data-autocenter='2' data-scale='0.75' data-scale-right='0.75'>
  <svg viewbox='0 0 16000 16000' style='position:absolute;top:0;left:0;width:100%;height:100%;'>

  </svg>
  </div>
  </div>
  <script type='text/javascript'>jssor_1_slider_init();</script>
      
    </div>
    <div class="three wide column teste">
<ui:repeat var="home" value="#{homeBean.lista}" >
<h:outputText rendered="#{home.textoEsquerdo != null}" value="#{home.textoEsquerdo}" /><br/>
</ui:repeat>
    </div>
  </div>
  </div>

<h1 id="Curiosidades"  class="ui center aligned header">Curiosidades</h1>
<!-- Card -->
<div class="ui five column grid stackable">
  <div class="column segment">
    <div class="ui fluid card">
     <!-- Div de imagem do card --> 
     <div class="image">
        <img src="img/cagados.jpg" />
      </div>
      <div class="content">
     <!-- Titulo da imagem -->
        <h3>Exemplo Titulo</h3>
     <!-- Texto da imagem -->
        <p>exemplo texto</p>
      </div>
    </div>
  </div>
  <div class="column segment">
    <div class="ui fluid card">
      <div class="image">
        <img src="img/pente.jpg" />      
        </div>
      <div class="content segment">
        <h3>Exemplo Titulo</h3>
        <p>exemplo texto</p>
      </div> 
         </div>
  </div>
  <div class="column segment">
    <div class="ui fluid card">
      <div class="image">
         <img src="img/duascabe.jpg" />
      </div>
            <div class="content">
        <h3>Exemplo Titulo</h3>
        <p>exemplo texto</p>
      </div>
    </div>
  </div>
    <div class="column segment">
    <div class="ui fluid card">
      <div class="image">
         <img src="img/tart.jpg" />
      </div>
      <div class="content">
        <h3>Exemplo Titulo</h3>
        <p>exemplo texto</p>
      </div>
    </div>
  </div>
    <div class="column segment">
    <div class="ui fluid card">
      <div class="image">
         <img src="img/ta-tigre.jpg"/>
      </div>
      <div class="content">
        <h3>Exemplo Titulo</h3>
        <p>exemplo texto</p>
      </div>
    </div>
  </div>
</div>
  <!-- Sobre cada Especie-->
  <center><h1 id="Especies">Sobre cada Especie</h1></center>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Titulo Exemplo</h3>
          <p>Texto Exemplo</p>
        </div>
        <div class="six wide right floated column">
          <img src="img/marinha.jpg" class="ui large bordered rounded image" />
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
            <button class="ui teal huger button botao">Sobre essa Especie</button>
        </div>
      </div>
    </div>
  </div>
    <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Titulo Exemplo</h3>
          <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
        </div>
        <div class="six wide right floated column">
          <img src="img/marinha.jpg" class="ui large bordered rounded image" />
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
            <button class="ui teal huger button botao">Sobre essa Especie</button>
        </div>
      </div>
    </div>
  </div>
  <div class="ui comments">
<h1>Adicione o seu comentario</h1>
  <div class="comment">
    <div class="content">
      <a class="author">Steve Jobes</a>
      <div class="metadata">
        <div class="date">2 days ago</div>
      </div>
      <div class="text">
        Revolutionary!
      </div>
      <div class="actions">
        <a class="reply active">Reply</a>
      </div>
      <form class="ui reply form">
      <div class="field">
          <input placeholder="Digite seu Nome"/>
        </div>
        <div class="field">
          <input placeholder="Titulo Caso Deseje" />
        </div>
        <div class="field">
          <textarea placeholder="Seu comentario"></textarea>
        </div>
        <div class="ui teal submit labeled icon button">
          <i class="icon edit"></i> Enviar
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Siga-nos em nossas redes sociais :</h4>
          <div class='ui inverted link list'>
				  <button class='ui circular facebook icon button'>
				    <i class='facebook icon'></i>
				  </button>
				  <button class='ui circular twitter icon button'>
				    <i class='twitter icon'></i>
				  </button>
				  <button class='ui circular instagram icon button'>
				    <i class='instagram icon'></i>
				  </button>
				  <button class='ui circular google plus icon button'>
				    <i class='google plus icon'></i>
				  </button>
          </div>
        </div>        
        <div class="seven wide column">
          <h4 class="ui inverted header">Para se pensar</h4>
          <p>"Ser feliz nao e ter uma vida perfeita mas deixar de ser vitima dos problemas e se tornar autor da sua propria historia" - Augusto Cury.</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
 <div class="ui longer test modal">
    <div class="header">
      Tartaruga
    </div>
    <i class="close icon right"></i>
    <div class="scrolling image content">
      <div class="ui medium image">
        <img src="img/t.jpg"/>
      </div>
      <div class="description">
        <div class="ui header">Titulo Texto</div>
        <p>Texto qualquer</p>
        <img class="ui wireframe image" src="img/tarta.jpg" />
      </div>
    </div>
  </div>
</h:body>
<script>
$('.ui.modal')
.modal('attach events', '.botao.button', 'show');
</script>
<script>
$(document).ready(function() {
  $('.masthead').visibility({
    once: false,
    onBottomPassed: function() {
      $('.fixed.menu').transition('fade in');
    },
    onBottomPassedReverse: function() {
      $('.fixed.menu').transition('fade out');
    }
  });
  $('.ui.sidebar')
  .sidebar('attach events', '.toc.item');
});
</script>
</html>