<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/semantic.min.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/grid.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/icon.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/button.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/form.css' />
		<script type='text/javascript' src='js/slide.js'></script>
	<script type='text/javascript' src='js/jquery-3.3.1.min.js'></script>
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/modal.css' />
	<script type='text/javascript' src='Semantic-UI-master/dist/components/modal.js'></script>
	<script type='text/javascript' src='Semantic-UI-master/dist/components/form.js'></script>	
	<script type='text/javascript' src='Semantic-UI-master/dist/semantic.js'></script>
	<style>
	h1,h2,h3,h4,h5,h6,a,p,label{
	 font-family:Apple Chancery, cursive ;
	 }
	 body{
	 	background-image: url(img/marinha.jpg);
	    min-height: 100%;
	    width: 100%;
	    background-size: 100% 100%;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    
	 }
	   body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
	</style>
	<title>Yangtze</title>
</h:head>
<h:body>
<div class="ui middle aligned center aligned grid">
  	<ui:repeat var="lista" value="#{userBean.contem()}">
  		<f:verbatim rendered="#{lista == true}">
		  <div class="column">
		      <div class="ui message">
		      <H2>Seja bem-vindo #{lista}</H2>
		    </div>
		    <h:form class="ui large form" >
		      <div class="ui stacked segment">
		        <div class="field">
		          <div class="ui left icon input">
		            <i class="envelope icon"></i>				
		            <h:inputText value="#{userBean.emailCriptografado2}"/>
		          </div>
		        </div>
		        <div class="field">
		          <div class="ui left icon input">
		            <i class="lock icon"></i>
					<h:inputSecret value="#{userBean.senhaCriptografado2}"/>
		          </div>
		        </div>
			<h:commandButton value="enviar" class="ui teal submit button" action="#{userBean.login()}" />
		      </div>
		     </h:form>
		  </div>
		  </f:verbatim>
		      </ui:repeat>
		</div>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h:form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="envelope icon"></i>				
            <h:inputText value="#{userBean.emailCriptografado2}"/>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
			<h:inputSecret value="#{userBean.senhaCriptografado2}"/>
          </div>
        </div>
  	<h:commandButton value="enviar" class="ui teal submit button" action="#{userBean.verificar()}" />
      </div>
    </h:form>
  </div>
</div>
</h:body>
</html>